

QPushButton[iconButton="true"] {
    border: none;
    background: transparent;
    padding: 0px;
}

QPushButton[iconButton="true"]:hover {
    background-color: rgba(128, 128, 128, 40);
    border-radius: 18px;
}

QPushButton[iconButton="true"]:pressed {
    background-color: rgba(128, 128, 128, 80);
}

QSplitter::handle:horizontal {
    background-color: #444444;
    width: 1px;
}